<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
          point="org.eclipse.ui.commands">
        <command
            id="org.codenarc.eclipse.commands.CheckCodeCommand"
            name="Check code with CodeNarc">
        </command>
        <command
            id="org.codenarc.eclipse.commands.ClearViolationsCommand"
            name="Clear CodeNarc violations">
        </command>
    </extension>

    <extension
          point="org.eclipse.ui.handlers">
        <handler 
             class="org.codenarc.eclipse.commands.CheckCodeHandler" 
             commandId="org.codenarc.eclipse.commands.CheckCodeCommand"> 
        </handler>    
        <handler 
             class="org.codenarc.eclipse.commands.ClearViolationsHandler" 
             commandId="org.codenarc.eclipse.commands.ClearViolationsCommand"> 
        </handler> 
    </extension>
    
    <extension
          point="org.eclipse.ui.commandImages">
        <image 
             commandId="org.codenarc.eclipse.commands.CheckCodeCommand" 
             icon="icons/codenarc_16x16.png"> 
        </image> 
        <image 
             commandId="org.codenarc.eclipse.commands.ClearViolationsCommand" 
             icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.gif"> 
        </image> 
    </extension>
    
    <extension
          point="org.eclipse.ui.menus">
        <menuContribution 
             locationURI="toolbar:org.eclipse.ui.main.toolbar"> 
            <toolbar
                  id="org.codenarc.eclipse.toolbar.CodeNarcToolbar"
                  label="CodeNarc"> 
                <command 
                    commandId="org.codenarc.eclipse.commands.CheckCodeCommand" 
                    id="org.codenarc.eclipse.toolbar.CheckCodeCommand"> 
                </command>
                <command 
                    commandId="org.codenarc.eclipse.commands.ClearViolationsCommand" 
                    id="org.codenarc.eclipse.toolbar.ClearViolationsCommand"> 
                </command>  
           </toolbar> 
        </menuContribution>    
    </extension>
    
    <extension 
         point="org.eclipse.ui.bindings">
        <key sequence="Ctrl+Alt+O"
            commandId="org.codenarc.eclipse.commands.CheckCodeCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"/>
        <key sequence="Ctrl+Alt+K"
            commandId="org.codenarc.eclipse.commands.ClearViolationsCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"/>
    </extension>
    
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.codenarc.eclipse.preferences.CodeNarcPreferencePage"
            id="org.codenarc.eclipse.preferences.CodeNarcPreferencePage"
            name="CodeNarc">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.codenarc.eclipse.preferences.CodeNarcPreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
       <viewContribution id="org.codenarc.eclipse.contribution.view" targetID="org.eclipse.ui.views.ProblemView">
           <menu 
                   id="org.codenarc.eclipse.codeNarcMenu"
                   label="CodeNarc" 
                   path="additions"> 
                   <separator name="group1"/> 
           </menu>
           <action
                 class="org.codenarc.eclipse.popup.actions.CheckCodeAction"
                 icon="icons/codenarc_16x16.png"
                 id="org.codenarc.eclipse.contribution.view.CheckCodeAction"
                 label="Check code with CodeNarc"
                 style="pulldown"
                 toolbarPath="Normal/additions"
                 tooltip="Check code with CodeNarc">
              <selection
                    class="org.eclipse.core.resources.IFile"
                    name="*.groovy">
              </selection>
           </action> 
           <action
                 class="org.codenarc.eclipse.popup.actions.ClearViolationsAction"
                 icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.gif"
                 id="org.codenarc.eclipse.contribution.view.ClearViolationsAction"
                 label="Clear CodeNarc violations"
                 style="pulldown"
                 toolbarPath="Normal/additions"
                 tooltip="Clear CodeNarc violations">
                   <selection class="org.eclipse.core.resources.IFile" name="*.groovy"/>
           </action>
       </viewContribution>
    </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.codenarc.eclipse.contribution.file"
            nameFilter="*.groovy"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.codenarc.eclipse.popup.actions.CheckCodeAction"
               enablesFor="+"
               icon="icons/codenarc_16x16.png"
               id="org.codenarc.eclipse.file.CheckCodeAction"
               label="Check code with CodeNarc"
               menubarPath="groovyfile/codenarc">
         </action>
         <action
               class="org.codenarc.eclipse.popup.actions.ClearViolationsAction"
               enablesFor="+"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.gif"
               id="org.codenarc.eclipse.file.ClearViolationsAction"
               label="Clear CodeNarc violations"
               menubarPath="groovyfile/codenarc">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.codenarc.eclipse.contribution.file"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.codenarc.eclipse.popup.actions.SetConfigFileAction"
               enablesFor="1"
               id="org.codenarc.eclipse.file.SetConfigFileAction"
               label="Use this file as CodeNarc ruleset config"
               menubarPath="groovyfile/codenarc">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.codenarc.eclipse.contribution.project"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.codenarc.eclipse.popup.actions.CheckCodeAction"
               enablesFor="1"
               icon="icons/codenarc_16x16.png"
               id="org.codenarc.eclipse.project.CheckCodeAction"
               label="Check code with CodeNarc"
               menubarPath="groovy/codenarc">
         </action>
         <action
               class="org.codenarc.eclipse.popup.actions.ClearViolationsAction"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.gif"
               id="org.codenarc.eclipse.project.ClearViolationsAction"
               label="Clear CodeNarc violations"
               menubarPath="groovy/codenarc">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.eclipse.jdt.groovy.core.groovyNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation"
         name="CodeNarc Violation"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation.priority1"
         name="CodeNarc Violation (Priority 1)"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.codenarc.eclipse.marker.violation">
      </super>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation.priority2"
         name="CodeNarc Violation (Priority 2)"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.codenarc.eclipse.marker.violation">
      </super>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation.priority3"
         name="CodeNarc Violation (Priority 3)"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.codenarc.eclipse.marker.violation">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.codenarc.eclipse.marker.violation.priority1"
            name="org.codenarc.eclipse.annotation.marker.priority1"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerType="org.codenarc.eclipse.marker.violation.priority2"
            name="org.codenarc.eclipse.annotation.marker.priority2"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerType="org.codenarc.eclipse.marker.violation.priority3"
            name="org.codenarc.eclipse.annotation.marker.priority3"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.codenarc.eclipse.annotation.marker.priority1"
            colorPreferenceKey="org.codenarc.eclipse.annotation1.color"
            colorPreferenceValue="255,170,170"
            highlightPreferenceKey="org.codenarc.eclipse.annotation1.highlight"
            highlightPreferenceValue="true"
            icon="icons/codenarc_16x16.png"
            label="Priority 1"
            overviewRulerPreferenceKey="org.codenarc.eclipse.annotation1.overviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="org.codenarc.eclipse.annotation1.text"
            textPreferenceValue="false"
            textStylePreferenceKey="org.codenarc.eclipse.annotation1.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.codenarc.eclipse.annotation1.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.codenarc.eclipse.annotation.marker.priority2"
            colorPreferenceKey="org.codenarc.eclipse.annotation2.color"
            colorPreferenceValue="255,204,170"
            highlightPreferenceKey="org.codenarc.eclipse.annotation2.highlight"
            highlightPreferenceValue="true"
            icon="icons/codenarc_16x16.png"
            label="Priority 2"
            overviewRulerPreferenceKey="org.codenarc.eclipse.annotation2.overviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="org.codenarc.eclipse.annotation2.text"
            textPreferenceValue="false"
            textStylePreferenceKey="org.codenarc.eclipse.annotation2.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.codenarc.eclipse.annotation2.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.codenarc.eclipse.annotation.marker.priority3"
            colorPreferenceKey="org.codenarc.eclipse.annotation3.color"
            colorPreferenceValue="255,238,170"
            highlightPreferenceKey="org.codenarc.eclipse.annotation3.highlight"
            highlightPreferenceValue="true"
            icon="icons/codenarc_16x16.png"
            label="Priority 3"
            overviewRulerPreferenceKey="org.codenarc.eclipse.annotation3.overviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="org.codenarc.eclipse.annotation3.text"
            textPreferenceValue="false"
            textStylePreferenceKey="org.codenarc.eclipse.annotation3.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.codenarc.eclipse.annotation3.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   
   <!--<extension point="org.eclipse.ui.handlers">
       <handler commandId="org.eclipse.ui.file.save"
           class="org.codenarc.eclipse.autocheck.Autochecker">
       </handler>
   </extension>-->
</plugin>
