<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!-- Commands -->
    <extension point="org.eclipse.ui.commands">
        <command
            id="org.codenarc.eclipse.commands.CheckCodeCommand"
            name="Check code with CodeNarc">
        </command>
        <command
            id="org.codenarc.eclipse.commands.ClearViolationsCommand"
            name="Clear CodeNarc violations">
        </command>
    </extension>

    <!-- Handlers -->
    <extension point="org.eclipse.ui.handlers">
        <handler
             class="org.codenarc.eclipse.commands.CheckCodeHandler"
             commandId="org.codenarc.eclipse.commands.CheckCodeCommand">
        </handler>
        <handler
             class="org.codenarc.eclipse.commands.ClearViolationsHandler"
             commandId="org.codenarc.eclipse.commands.ClearViolationsCommand">
        </handler>
    </extension>

    <!-- Menu Entries -->
    <extension point="org.eclipse.ui.menus">

        <!-- Project Explorer -->
        <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
            <menu id="groovy" label="Groovy"/>
            <menu id="groovyfile" label="Groovy"/>
        </menuContribution>

        <!-- Package Explorer -->
        <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <menu id="groovy" label="Groovy"/>
            <menu id="groovyfile" label="Groovy"/>
        </menuContribution>

        <!-- submenu entries - project level -->
        <menuContribution locationURI="popup:groovy">
            <command commandId="org.codenarc.eclipse.commands.CheckCodeCommand">
                 <visibleWhen>
                     <iterate operator="and" ifEmpty="false">
                         <adapt type="org.eclipse.core.resources.IProject">
                             <test property="org.eclipse.core.resources.projectNature"
                                   value="org.eclipse.jdt.groovy.core.groovyNature"/>
                         </adapt>
                     </iterate>
                 </visibleWhen>
            </command>
            <command commandId="org.codenarc.eclipse.commands.ClearViolationsCommand">
                 <visibleWhen>
                     <iterate operator="and" ifEmpty="false">
                         <adapt type="org.eclipse.core.resources.IProject">
                             <test property="org.eclipse.core.resources.projectNature"
                                   value="org.eclipse.jdt.groovy.core.groovyNature"/>
                         </adapt>
                     </iterate>
                 </visibleWhen>
            </command>
        </menuContribution>

        <!-- submenu entries - file level -->
        <menuContribution locationURI="popup:groovyfile">
            <command commandId="org.codenarc.eclipse.commands.CheckCodeCommand">
                 <visibleWhen>
                     <iterate operator="and" ifEmpty="false">
                         <adapt type="org.eclipse.core.resources.IResource">
                             <test property="org.eclipse.core.resources.name" value="*.groovy"/>
                         </adapt>
                     </iterate>
                 </visibleWhen>
            </command>
            <command commandId="org.codenarc.eclipse.commands.ClearViolationsCommand">
                 <visibleWhen>
                     <iterate operator="and" ifEmpty="false">
                         <adapt type="org.eclipse.core.resources.IResource">
                             <test property="org.eclipse.core.resources.name" value="*.groovy"/>
                         </adapt>
                     </iterate>
                 </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <!-- Images -->
    <extension point="org.eclipse.ui.commandImages">
        <image
             commandId="org.codenarc.eclipse.commands.CheckCodeCommand"
             icon="icons/codenarc_16x16.png">
        </image>
        <image
             commandId="org.codenarc.eclipse.commands.ClearViolationsCommand"
             icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.gif">
        </image>
    </extension>


   <extension
         id="org.codenarc.eclipse.marker.violation"
         name="CodeNarc Violation"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation.priority1"
         name="CodeNarc Violation (Priority 1)"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.codenarc.eclipse.marker.violation">
      </super>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation.priority2"
         name="CodeNarc Violation (Priority 2)"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.codenarc.eclipse.marker.violation">
      </super>
   </extension>
   <extension
         id="org.codenarc.eclipse.marker.violation.priority3"
         name="CodeNarc Violation (Priority 3)"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.codenarc.eclipse.marker.violation">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.codenarc.eclipse.marker.violation.priority1"
            name="org.codenarc.eclipse.annotation.marker.priority1"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerType="org.codenarc.eclipse.marker.violation.priority2"
            name="org.codenarc.eclipse.annotation.marker.priority2"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerType="org.codenarc.eclipse.marker.violation.priority3"
            name="org.codenarc.eclipse.annotation.marker.priority3"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.codenarc.eclipse.annotation.marker.priority1"
            colorPreferenceKey="org.codenarc.eclipse.annotation1.color"
            colorPreferenceValue="255,170,170"
            highlightPreferenceKey="org.codenarc.eclipse.annotation1.highlight"
            highlightPreferenceValue="true"
            icon="icons/codenarc_16x16.png"
            label="Priority 1"
            overviewRulerPreferenceKey="org.codenarc.eclipse.annotation1.overviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="org.codenarc.eclipse.annotation1.text"
            textPreferenceValue="false"
            textStylePreferenceKey="org.codenarc.eclipse.annotation1.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.codenarc.eclipse.annotation1.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.codenarc.eclipse.annotation.marker.priority2"
            colorPreferenceKey="org.codenarc.eclipse.annotation2.color"
            colorPreferenceValue="255,204,170"
            highlightPreferenceKey="org.codenarc.eclipse.annotation2.highlight"
            highlightPreferenceValue="true"
            icon="icons/codenarc_16x16.png"
            label="Priority 2"
            overviewRulerPreferenceKey="org.codenarc.eclipse.annotation2.overviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="org.codenarc.eclipse.annotation2.text"
            textPreferenceValue="false"
            textStylePreferenceKey="org.codenarc.eclipse.annotation2.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.codenarc.eclipse.annotation2.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.codenarc.eclipse.annotation.marker.priority3"
            colorPreferenceKey="org.codenarc.eclipse.annotation3.color"
            colorPreferenceValue="255,238,170"
            highlightPreferenceKey="org.codenarc.eclipse.annotation3.highlight"
            highlightPreferenceValue="true"
            icon="icons/codenarc_16x16.png"
            label="Priority 3"
            overviewRulerPreferenceKey="org.codenarc.eclipse.annotation3.overviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="org.codenarc.eclipse.annotation3.text"
            textPreferenceValue="false"
            textStylePreferenceKey="org.codenarc.eclipse.annotation3.textStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.codenarc.eclipse.annotation3.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         name="Workspace Preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.codenarc.eclipse.plugin.preferences.PreferencePage"
            id="org.codenarc.eclipse.plugin.preferences.PreferencePage"
            name="CodeNarc">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.codenarc.eclipse.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         name="Project Properties"
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.codenarc.eclipse.plugin.preferences.PreferencePage"
            id="org.codenarc.eclipse.plugin.properties.PropertyPage"
            name="CodeNarc">
         <filter
               name="nature"
               value="org.eclipse.jdt.groovy.core.groovyNature">
         </filter>
      </page>
   </extension>

</plugin>
